@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:wght@300;400;500;600&family=Source+Sans+3:wght@400;600;700&display=swap');



body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}


.project-img-bg{
  background: rgb(255,237,253);
background: -moz-linear-gradient(0deg, rgba(255,237,253,1) 0%, rgba(189,108,255,1) 73%);
background: -webkit-linear-gradient(0deg, rgba(255,237,253,1) 0%, rgba(189,108,255,1) 73%);
background: linear-gradient(0deg, rgba(255,237,253,1) 0%, rgba(189,108,255,1) 73%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffedfd",endColorstr="#bd6cff",GradientType=1);
}